/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font: 100% / 1.5 system-ui, sans-serif;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 80ch;
    width: 100%;
    padding: 1em;
}

.container {
    background-color: orangered;
    color: aliceblue;
    padding: 1em;
    border-radius: 0.5em;
}

#question {
    text-align: center;
    margin-top: 80px; 
    font-size: 18px;
    color: #000000; 
    font-family: 'Georgia', serif; 
    font-style: italic;
  }

  #title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    color: #000000;
    font-family: 'Georgia', serif;
    font-weight: 300;
  }
  